.th-layout-padding {
    padding: 1rem 1.5rem;
}
.th-layout-padding-2 {
    padding: 1.5rem;
}
.th-mt-10 {
    margin-top: 10%;
}
.th-w-30 {
    width: 30% !important;
}
.th-w-35 {
    width: 35% !important;
}
.th-w-40 {
    width: 40% !important;
}
.th-w-45 {
    width: 45% !important;
}