.ui-breadcrumbs {
    background: #fff;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #e0e0e0;
}
.ui-breadcrumbs a, .ui-breadcrumbs span {
    color: #777;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
}
.ui-breadcrumbs span {
    padding: 0 .95rem;
}
.ui-breadcrumbs a:hover {
    color: #7b1fa2;
}
.ui-breadcrumbs a.active {
    color: #7b1fa2;
}