@font-face {
	font-family: 'Roboto';
	src: url('/repository/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Proxima Nova Soft';
	src: url('/repository/assets/fonts/proxima-nova-soft.otf');
}
@font-face {
	font-family: 'Fredoka One';
	src: url('/repository/assets/fonts/FredokaOne-Regular.ttf');
}

.text-meta {
	color: #999;
	font-size: .90rem;
}
.form-input-label {
	color: #555;
}
.form-input-label > span {
	color: red;
}