:root {
	--ui-border-radius: .40rem;
	--ui-input-text-size: 14px;
	--ui-input-padding: 0 1.1rem;	
	--ui-input-border: 1px solid rgb(203, 213, 225);
	--ui-input-text-color: rgb(30, 41, 59);
	--ui-input-height: 50px;
	--ui-text-link-color: #6366f1;
	--ui-color-purple: #4f46e5;
	--ui-color-blue: #304ffe;
	--ui-color-dark: #000;
	--ui-color-red: #e51c23;
	--ui-color-yellow: #f29400;
	--ui-component-margin-bottom: 1rem;
}