.ui-password-wrapper {
	position: relative;
}
.ui-input-password {
	font-size: var(--ui-input-text-size);
	border-radius: var(--ui-border-radius);
	border: var(--ui-input-border);
	color: var(--ui-input-text-color);
	display: block;
	width: 100%;
	height: var(--ui-input-height);
	padding: 0 1.1rem;
	position: relative;
	padding-right: 2.8rem;
}
.ui-input-password:focus {
	outline: none;
	border: 1px solid var(--ui-color-blue);
}

.ui-password-toggler {
	position: absolute;
	font-size: 1rem;
	color: #94a3b8;
	z-index:  200;
	top: 50%;
	right: .50rem;
	transform: translate(-50%, -50%);
}
.ui-password-toggler:hover {
	color: #666;
}