.ui-toolbar {
    background: #fff;
}
.ui-toolbar a {
    color: #999;
    font-weight: 600;
    font-size: .95rem;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    border: 1px solid #e0e0e0;
    border-radius: .50rem;
    padding: .75rem 1rem;
}
.ui-toolbar a:hover {
    background: #f0f0f0;
}